html, body {
  /*color: #ffffff !important;
  background-color: #2b3136 !important;*/
  height: 100%;
}

#app {
  min-height:100%;
  position:relative;
  background-color: #f7f6f3;
}

#contentbody {
  padding-bottom: 65px;   /* Height of the footer */
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  min-height: 65px;   /* Height of the footer */
  padding: 5px 15px;
  border-top: 1px solid #9aa2a87d !important;
}

.mi-page-title {
  padding-bottom: 10px;
}

.mi-searchbox {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
//Text and BG colors
.mi-text-primary {
  color: $primaryColor !important;
}
.mi-text-secondary {
  color: $secondaryColor !important;
}

//Buttons
.mi-primarybtn {
  background-color: $primaryColor !important;
  color: $onPrimary !important;
  padding: 10px 20px;
  min-width: 88px;
  border-radius: 2px;
  /*font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';*/

  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.349019607843137);
}

.mi-primarybtn:hover, .mi-primarybtn:active {
  background-color: $primaryVariant !important;
  color: $onPrimary !important;
}

a.mi-linkbtn, a:not([href]):not([tabindex]).mi-linkbtn,
button.mi-linkbtn {
  display: inline-block;
  color: $primaryColor !important;
  padding: 10px 20px;
  text-decoration: none;
  /*font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';*/
  font-weight: 600;
}

a.mi-linkbtn:focus, a:not([href]):not([tabindex]).mi-linkbtn:focus, a:not([href]):not([tabindex]).mi-linkbtn:hover,
a.mi-linkbtn:hover,
button.mi-linkbtn:focus,
button.mi-linkbtn:hover {
  cursor: pointer;
  background-color: #c4d5f3;
  padding: 10px 20px;
}

.mi-linkbtn.active, .show>.mi-linkbtn {
  background-color: $primaryVariant !important;
  color: $onPrimary !important;
}

.mi-iconBtn {
  cursor: pointer;
  padding: 10px;

  &:hover {
    background-color: #eff1f1;
  }
}

//Modal
/* To fix the the issue of masking the page on modal close */
.modal-backdrop {
  position: relative;
}

.mi-error-label {
  color: $errorColor;
}

//Card
.mi-card {
  box-shadow: 0 3px 6px rgba(0,0,0,.2) /*10px 6px 18px rgba(0, 0, 0, 0.24)*/;
  background-color: #ffffff;
  padding: .5rem;
  /*border: none;*/
}

.mi-card:hover {
  box-shadow: 0px 10px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); /*10px 6px 18px rgba(0, 0, 0, 0.24)*/;
}

.mi-card .card-body {
  padding: 0.5rem;
}
.mi-card-footer {
  background-color: #FFFFFF;
  padding-top: 10px;
}
//table styles
.table thead th {
  vertical-align: bottom;
  border-bottom: none /*1px solid #dee2e6*/;
}

.table > tbody > tr:last-child {
  border-bottom: 1px solid #dee2e6;
}

.table tr td, .table tr th {
  /*border-top: none;*/
  /*border-bottom: 1px solid $rowBorder;*/ /*#dee2e6*/
  &.checkboxinput {
    width: 25px;
  }
}

.numberCircle {
  display:inline-block;
  line-height:0px;

  border-radius:50%;
  border:1px solid #666;

  font-size:24px;
}

.numberCircle span {
  display:inline-block;

  padding-top:50%;
  padding-bottom:50%;

  margin-left:16px;
  margin-right:16px;
}

@media screen and (max-width: 768px) { /* Specific to this particular image */
  #contentbody {
    padding-bottom: 130px;   /* Height of the footer */
  }

  footer {
    min-height: 130px;   /* Height of the footer */
  }

  .text-block {
    width: 100%;
  }

  #theme {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #locale {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


/* ********************************
 * Dark Theme CSS
 * ********************************
 */
.darktheme {
  background-color: $darkBg !important;
  color: $onDarkBg;

  & #appheader {
    background-color: $darkThemeColor;
  }

  & footer {
    border-color: $darkThemeColor !important;
  }

  & #appheader .navbar-brand {
    color: $onDarkTheme;
  }

  & #appheader .navbar-toggler {
    color: $onDarkTheme;
    border: none;
  }

  & #appheader .nav-item .nav-link {
    color: $onDarkTheme;
  }

  & #appheader .nav-item .nav-link:hover {
    background-color: $darkThemeVariant;
  }

  & #appheader .nav-item .router-link-exact-active {
    border-bottom: $onDarkTheme solid 1px;
  }

  //Text and BG colors
  .mi-text-primary {
    color: $darkThemePrimaryColor !important;
  }

  .mi-text-secondary {
    color: $darkThemeSecondaryColor !important;
  }

  //Buttons
  & .mi-primarybtn {
    background-color: $darkThemePrimaryColor !important;
    color: $darkThemeOnPrimary !important;
  }

  & .mi-primarybtn:hover, .mi-primarybtn:active {
    color: $darkThemeOnPrimaryVariant !important;
    background-color: $darkThemePrimaryVariant !important;
  }

  & a.mi-linkbtn, a:not([href]):not([tabindex]).mi-linkbtn,
  button.mi-linkbtn {
    color: $darkThemePrimaryColor !important;
  }

  & a.mi-linkbtn:focus, a:not([href]):not([tabindex]).mi-linkbtn:focus, a:not([href]):not([tabindex]).mi-linkbtn:hover,
  a.mi-linkbtn:hover,
  button.mi-linkbtn:focus,
  button.mi-linkbtn:hover {
    background-color: $darkThemeOnPrimaryVariant !important;
    color: $darkThemePrimaryVariant !important;
  }

  //Inputs
  input, textarea, select {
    background-color: $darkThemeVariant;
    color: $onDarkTheme;
    border: none;
  }

  & .mi-error-label {
    color: $darkThemeErrorColor;
  }

  & .form-control:focus {
    color: $onDarkBg;
    background-color: $darkThemeVariant;
    border-color: $darkThemeVariant /*#80bdff*/;
    box-shadow: 0 0 0 0.2rem $darkThemeVariant;
  }

  .input-group-text {
    background-color: $darkBg;
    color: $onDarkBg;
    border: none;
  }
  //Modals
  & .mi-custom-modal .modal-container {
    background-color: $darkBg;
  }

  //Cards
  & .mi-card {
    background-color: $darkThemeColor;
  }

  .mi-card-footer {
    background-color: $darkThemeColor;
    border-top: 1px solid $onDarkTheme;
  }

  //Table
  .table tr td, .table tr th {
    color: $onDarkTheme;
  }

  .table-hover tbody tr:hover {
    background-color: $darkBg;
  }

  .dropdown-menu {
    background-color: $darkBg;
    color: $onDarkBg;

    .dropdown-item {
      color: $onDarkBg;
    }
    .dropdown-item:hover {
      background-color: $onDarkBg;
      color: $darkBg;
    }
  }

}