/* Default Theme */
$themeColor: #0a078af0;
$themeHoverColor: #050354f7;
$textColor: #000000;
$redColor: #b60d21;

/* Dark Theme */
$darkthemeColor: /*#001628*/ #0d344ae8 /*#061F2F*/;
$darkThemeHoverColor: /*#010e18*/ #042131e8;
$darkBgColor: /*#022C43*/ #18242B;
$darkThemeTextColor: #FFFFFFD4 /*#84C9FB*/